spring:
  main:
    lazy-initialization: true
  datasource:
    url: ${DATABASE_URL}
    # username: ${DB_USERNAME}
    # password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
  sendgrid:
    api-key: ${SENDGRID_API_KEY}
